version: "3.8"

services:
  react-app:
    build: .
    container_name: altravionix
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
